DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
BASE_URL=
SESSION_SECRET=
# Gerar com: node -e "console.log(require('crypto').randomBytes(64).toString('base64url'))"
JWT_SECRET=
NODE_ENV=development
